@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --title-text-color: #18191d;
  --primary-white-color: #fff;
  --secondary-bg-color: #111517;
  --accent-color: #ff6b08;
  --button-hover-color: #d35526;
  --light-gray-color: #b9b9b9;

  --menu-overlay-color: rgba(0, 0, 0, 0.85);

  --animation-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Montserrat', sans-serif;
}

body.menu-open {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

abbr {
  text-decoration: none;
}

em {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Утилиты */

.list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.accent {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */

.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* Logo */

.logo {
  display: inline-flex;
}

.logo__icon {
  width: 80px;
  height: 30px;
}

/* Button */

.button {
  display: inline-block;
  padding: 10px;
  min-width: 240px;

  font-weight: 700;
  font-size: 11px;
  line-height: 1.91;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--title-text-color);

  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;

  transition: color var(--animation-duration) var(--timing-function),
    background-color var(--animation-duration) var(--timing-function),
    border-color var(--animation-duration) var(--timing-function);
}

.button--primary {
  color: var(--accent-color);

  background-color: transparent;
  border-color: var(--accent-color);
}

.button--primary:hover,
.button--primary:focus {
  color: var(--primary-white-color);

  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}

.button--secondary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button--secondary:hover,
.button--secondary:focus {
  background-color: var(--button-hover-color);
}

/* Page header */

.page-header {
  min-height: 80px;
  padding: 25px 0;
}

/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* Site nav */

.site-nav__link {
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-white-color);

  transition: color var(--animation-duration) var(--timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

/* Burger */

.burger {
  position: relative;
  width: 24px;
  height: 16px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger::before {
  top: 0;
}

.burger.is-open::before {
  top: 50%;

  transform: translateY(-50%) rotate(45deg);
}

.burger::after {
  bottom: 0;
}

.burger.is-open::after {
  top: 50%;
  bottom: auto;

  transform: translateY(-50%) rotate(-45deg);
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;

  background-color: var(--title-text-color);

  transition: background-color var(--animation-duration) var(--timing-function),
    transform var(--animation-duration) var(--timing-function),
    top var(--animation-duration) var(--timing-function),
    bottom var(--animation-duration) var(--timing-function);
}

.burger__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;

  background-color: var(--title-text-color);
  transform: translateY(-50%);

  transition: background-color var(--animation-duration) var(--timing-function),
    opacity var(--animation-duration) var(--timing-function);
}

.burger:hover::before,
.burger:focus::before,
.burger:hover::after,
.burger:focus::after,
.burger:hover .burger__line,
.burger:focus .burger__line {
  background-color: var(--accent-color);
}

.burger.is-open .burger__line {
  opacity: 0;
}

/* Hero */

.hero {
  padding: 30px 0 50px;

  background-image: url('../images/features/bg-mob.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 1.5;
  color: var(--title-text-color);
}

.hero__text {
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 1.2;
  color: var(--light-gray-color);
}

.hero__text--strong {
  color: var(--title-text-color);
}

.hero__button {
  width: 250px;
}

/* Section */

.section {
  position: relative;
  padding: 45px 0 50px;
}

.section--secondary {
  background-color: var(--secondary-bg-color);
}

.section__title {
  font-size: 20px;
  line-height: 1.5;
}

.section__title--dark {
  color: var(--title-text-color);
}

.section__title--light {
  color: var(--primary-white-color);
}

.section__list {
  position: absolute;
  top: 195px;
  left: 50%;
  transform: translateX(-50%);

  width: 280px;
  padding: 20px;

  background-color: var(--primary-white-color);
  box-shadow: 4px 7px 16px 6px rgba(29, 29, 27, 0.04);
}

.section__item {
  position: relative;
  counter-increment: variable;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: var(--title-text-color);
}

.section__item::before {
  content: counter(variable, decimal-leading-zero);
  display: block;
  margin-bottom: 5px;
  padding-left: 35px;

  font-weight: 400;
  color: var(--accent-color);
}

.section__item::after {
  position: absolute;
  top: 9px;
  left: 0;

  content: '';
  display: block;
  width: 25px;
  height: 2px;

  background-color: var(--accent-color);
}

/* Features */

.features-item {
  position: relative;
  padding-left: 70px;

  font-weight: 700;
  font-size: 13px;
  line-height: 1.54;
  color: var(--title-text-color);
}

.features-item::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  content: '';
  width: 58px;
  height: 58px;
}

.features-item:nth-child(1)::before {
  background-image: url('../images/features/icon-mob-1.png');
}

.features-item:nth-child(2)::before {
  background-image: url('../images/features/icon-mob-2.png');
}

.features-item:nth-child(3)::before {
  background-image: url('../images/features/icon-mob-3.png');
}

/* Problems */

.problems {
  height: 520px;
}

.problems__title {
  width: 235px;
}

/* Media queries */

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .logo__icon {
    width: 130px;
    height: 48px;
  }

  .button {
    min-width: 250px;
    padding: 15px;
  }

  .page-header {
    min-height: 125px;
    padding: 35px 0;
  }

  .mobile-menu__button {
    display: none;
  }

  .site-nav__link {
    font-size: 26px;
    letter-spacing: 0.02em;
  }

  .hero {
    background-image: url('../images/features/bg-tab.png');
  }

  .hero__container {
    display: flex;
    justify-content: space-between;
  }

  .hero__content {
    width: 275px;
  }

  .hero__title {
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.02em;
  }

  .hero__text {
    letter-spacing: 0.02em;
  }

  .hero__button {
    width: 260px;
  }

  .section {
    padding-top: 60px;
  }

  .section__title {
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.02em;
  }

  .section__list {
    top: 190px;

    display: flex;
    flex-wrap: wrap;
    width: 688px;
    padding: 30px 94px;
  }

  .section__item {
    flex-basis: calc((100% - 70px) / 2);
  }

  .features-list {
    display: flex;
    justify-content: space-between;
  }

  .features-item {
    width: 200px;
  }

  .problems {
    height: 333px;

    background-image: url('../images/problems/bg-tab.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .problems__title {
    width: 460px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page-header__actions {
    display: flex;
    align-items: center;
  }

  .page-header__button {
    margin-right: 30px;
  }

  .section__item:not(:nth-child(2n)) {
    margin-right: 70px;
  }

  .section__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .button {
    font-size: 12px;
    min-width: 300px;
    padding: 23px;
    line-height: 1.67;
  }

  .page-header {
    min-height: 140px;
  }

  .page-header__actions {
    margin-left: 45px;
  }

  .mobile-menu {
    margin-left: auto;
  }

  .site-nav {
    display: flex;
  }

  .site-nav__item:not(:last-child) {
    margin-right: 30px;
  }

  .site-nav__link {
    display: inline-block;
    padding: 23px 0;

    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-gray-color);
  }

  .burger {
    display: none;
  }

  .hero {
    padding-bottom: 60px;
  }

  .hero__content {
    width: 495px;
  }

  .hero__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 1.2;
  }

  .hero__text {
    margin-bottom: 70px;

    font-size: 18px;
    line-height: 1.27;
  }

  .section {
    padding: 70px 0 90px;
  }

  .section__title {
    font-weight: 800;
    font-size: 42px;
    line-height: 1.32;
  }

  .section__list {
    top: 280px;

    width: 1210px;
    padding: 45px 100px;
  }

  .section__item {
    flex-basis: calc((100% - 180px) / 3);

    font-size: 18px;
    line-height: 1.5;
  }

  .section__item:not(:nth-child(3n)) {
    margin-right: 90px;
  }

  .section__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 40px;
  }

  .section__item::before {
    font-size: 20px;
  }

  .section__item::after {
    top: 14px;
  }

  .features-item {
    width: 390px;
    padding-left: 85px;
    padding-top: 27px;
    padding-bottom: 27px;

    font-size: 20px;
    line-height: 1.2;
  }

  .features-item::before {
    width: 103px;
    height: 103px;

    z-index: -1;
  }

  .features-item:nth-child(1)::before {
    background-image: url('../images/features/icon-1.png');
  }

  .features-item:nth-child(2)::before {
    background-image: url('../images/features/icon-2.png');
  }

  .features-item:nth-child(3)::before {
    background-image: url('../images/features/icon-3.png');
  }

  .problems {
    height: 525px;
    background-image: url('../images/problems/bg.png');
  }

  .problems__title {
    width: 750px;
  }
}

@media screen and (max-width: 1279px) {
  .page-header {
    position: relative;
  }

  .main-nav {
    justify-content: space-between;
  }

  .mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-5%);
    width: 100%;
    max-height: calc(100vh - var(--page-header-height));
    padding: 60px 0;

    background-color: var(--menu-overlay-color);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;

    transition: transform var(--animation-duration) var(--timing-function),
      opacity var(--animation-duration) var(--timing-function);
  }

  .mobile-menu.is-open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu__container {
    width: 350px;
    margin: 0 auto;
  }

  .site-nav__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__button {
    display: none;
  }

  .mobile-menu {
    padding: 50px 0;
  }

  .mobile-menu__container {
    width: 240px;
  }

  .site-nav {
    margin-bottom: 50px;
  }

  .site-nav__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .hero__title {
    width: 230px;
  }

  .hero__button {
    display: block;
    margin: 0 auto 30px;
  }

  .hero__photo {
    margin: 0 auto;
  }

  .section__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .features-list {
    width: 200px;
    margin: 0 auto;
  }

  .features-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
